body{
	width: 100%;
	height: 100vh;
    background-image: linear-gradient(to top, #000, #212f3d);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;	
    font-family: 'Raleway', sans-serif;
}
.contenedor{
	height: 50vh;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.contenedor--ubicacion{
	font-size: 1.2em;
}